@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

:root {
  --text-color: #37474f;
  --brand-color: #ffc107; // Javascript Yellow
  // --brand-color: #42b883; // Vue Green
  // --brand-color: #00d8ff; // React Blue
  // --brand-color: #b52e31; // Angular Red
  // --brand-color: #ff3e00; // Svelte Orange
  // --brand-color: #50688f; // Alpine Blue
  --bg-color: #eff1ed;
  --bg-light: #e0e0e0;
  --bg-gray: #aeaeae;
  --padding: 1.25rem;
  --title-size: 1.75rem;
  --text-size-large: 1.25rem;
  --line-height: 2em;
  --white: #fff;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: var(--line-height);
  background: var(--bg-color);
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

p {
  margin: 0;
}

header {
  background: var(--brand-color);
  display: flex;
  justify-content: center;
}

.logo {
  text-indent: -9999px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo-image {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/54887/futurama-image-logo-sm.png);
  width: 60px;
}

.logo-text {
  margin: 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/54887/futurama-text-logo.png);
  width: 200px;
}

main {
  color: var(--text-color);
  padding: var(--padding);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 60vw;
  text-align: center;
  font-size: var(--text-size-large);

  p {
    font-weight: 200;
  }
}

.fancy-text,
.fancy-number,
.fancy-select {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--brand-color);
  font-size: var(--text-size-large);
  transition: all 0.25s ease;
  padding: calc(var(--padding) / 4) calc(var(--padding) / 2) 0;
  width: calc(10ch + var(--padding));
  color: var(--brand-color);
  font-weight: bold;
  appearance: none;

  &::placeholder {
    color: #b3b5b1;
  }

  &:focus {
    background: var(--white);
    outline: none;
  }
}

.fancy-select {
  width: calc(10ch - 10px);
  text-align: center;
}

.fancy-number {
  width: 3ch;
  appearance: none;
}

button {
  display: block;
  background: var(--bg-color);
  border: none;
  padding: calc(var(--padding) / 2) var(--padding);
  font-size: 1.5rem;
  margin: var(--padding) auto;
  box-shadow: inset 0 0 0 var(--brand-color);
  position: relative;
  transition: all 0.25s ease;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--brand-color);

  &:after {
    content: "\f105";
    display: block;
    font-family: FontAwesome;
    text-align: center;
    color: var(--brand-color);
    margin-left: calc(var(--padding) / 2);
    transform: all 0.25s ease;
  }

  &:focus,
  &:hover {
    outline: none;
    box-shadow: inset 350px 0 0 var(--brand-color);
    color: var(--white);
    cursor: pointer;

    &:after {
      color: var(--white);
    }
  }
}

footer {
  background: var(--bg-light);
  text-align: center;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

//////////
.question-wrapper {
  display: flex;
  flex-direction: column;
  width: 75vh;
}

.question {
  font-size: var(--title-size);
  margin-right: var(--padding);
  min-width: 50vw;
}
.possible-answers {
  margin-top: var(--padding);
  min-width: 50vw;
}

.possible-answer {
  display: block;
  cursor: pointer;
  user-select: none;

  input[type="radio"] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--bg-gray);
    background-color: var(--white);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.5s;
  }

  input[type="radio"]:checked,
  input[type="radio"]:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
  }

  input[type="radio"]:active {
    background-color: var(--brand-color);
  }

  input[type="radio"]:checked,
  input[type="radio"]:hover {
    & ~ span:first-of-type {
      color: var(--white);
      transition: color 0.3s;
    }
  }

  span {
    position: relative;
    top: -12px;

    &:first-of-type {
      position: relative;
      left: -26px;
      font-size: 15px;
    }
  }
}
