.question-wrapper {
  display: flex;
  flex-direction: column;
  width: 75vh;
}

.question-info {
  font-weight: 200;
}

.question {
  font-size: var(--title-size);
  margin-right: var(--padding);
  min-width: 50vw;
}
.possible-answers {
  margin-top: var(--padding);
  min-width: 50vw;
}

.possible-answer {
  display: block;
  cursor: pointer;
  user-select: none;

  input[type="radio"] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--bg-gray);
    background-color: var(--white);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.5s;
  }

  input[type="radio"]:checked,
  input[type="radio"]:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
  }

  input[type="radio"]:active {
    background-color: var(--brand-color);
  }

  input[type="radio"]:checked,
  input[type="radio"]:hover {
    & ~ span:first-of-type {
      color: var(--white);
      transition: color 0.3s;
    }
  }

  span {
    position: relative;
    top: -12px;

    &:first-of-type {
      position: relative;
      left: -27px;
      font-size: 15px;
      width: 10px;
      display: inline-block;
      text-align: center;
    }
  }
}
